.btable {

  /deep/.count {
    color: #498EFF;
    text-decoration: underline;
    cursor: pointer;
  }
}
/deep/.el-table {
  background-color: rgba(0,13,34, 0.2);

  tr {
    color: #fff;
    background-color: rgba(8,21,42, 0.2);

    &:hover > td {
      background-color: rgba(8,21,42, 0.2);
    }
  }

  th {
    background-color: rgba(255,255,255,0.08);

    &.gutter {
      display: unset !important;
    }
  }
}
/deep/.innerBox {
  width: 148px;
  display: flex;
  color: #fff;
  justify-content: space-between;

  .progress {
    width: 80px;
    height: 6px;
    display: block;
    background-color: rgba(0,0,0,0.15);
    border-radius:4px;
    margin-top: 8px;
  }

  i {
    height: 6px;
    display: block;
    background: linear-gradient(270deg,rgba(12,115,249,1) 0%,rgba(0,185,255,1) 100%);
    border-radius:3px;

    &.gmv {
      background: linear-gradient(270deg,rgba(42,132,207,1) 0%,rgba(3,254,205,1) 100%);
    }
  }

}
/deep/.el-table__indent {
  // padding-left: 3px!important;
}
/deep/ .el-icon-arrow-right {
  font-family: "dj-bi-" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    content: "\e65b";
  }
}

/deep/ .el-table__expand-icon--expanded {
  transform: rotate(0deg);

  .el-icon-arrow-right:before {
    content: "\e65a";
  }
}


li {
  list-style: none;
}


.filtro_box {
  padding: 17px 24px 29px;
  height: 129px;
  box-sizing: border-box;
  background-color: rgba(8,21,42,1);
  border-radius: 4px;
  text-align: left;
  margin-bottom: 16px;

  .tabsBar {
    line-height: 32px;
    font-size: 18px;
    color: rgba(255,255,255,0.45);
    margin-bottom: 24px;

    .tabs {
      cursor: pointer;
      margin-right: 28px;

      &.active {
        color: #fff;
      }
    }
  }
}



.condition_gather {
  display: flex;
  justify-content: space-between;

  .dimension {
    line-height: 34px;

    ul {
      display: flex;
    }

    li {
      margin-right: 24px;
    }

    .name {
      font-size: 14px;
      color: rgba(255,255,255,0.85);
      margin-right: 16px;
    }

    .option {
      line-height: 24px;
      padding: 6px 9px;
      font-size: 14px;
      margin-right: 16px;
      border-radius: 2px;
      border: 1px solid rgba(255,255,255,0.2);
      cursor: pointer;

      &.active {
        color: #fff;
        background-color: rgba(20,128,255,0.3);
        border-color: rgba(0,100,235,1);
      }
    }

    .reset {
      width:60px;
      height: 32px;
      line-height: 33px;
      text-align: center;
      font-size: 14px;
      border-radius:2px;
      border:1px solid rgba(255,255,255,0.2);
      color: rgba(255,255,255,0.65);
      cursor: pointer;
    }
  }

  .clock {
    color: rgba(255,255,255,0.45);
    margin-right: 24px;
  }

  .nowTime {
    margin-left: 8px;
  }

  .refreshBtn {
    color: #fff;
  }

  .dj-bi-refresh {
    margin-left: 8px;
  }
}